{% extends 'admin/base.html' %}
{% load i18n site_tags %}

{% block content %}

<div class="container">
  <div class="btn-toolbar">
    <a class="btn btn-primary" href="{% url 'admin:order-create' %}">
       {% trans 'Create' %}
    </a>
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>{% trans 'Order #' %}</th>
          <th>{% trans 'Date' %}</th>
          <th>{% trans 'User' %}</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for result in results %}
        <tr>
          <td>{{ result.id }}</td>
          <td>{{ result.created_at }}</td>
          <td>{{ result.user.name }}</td>
          <td>
            <a href="{% url 'admin:order-item-list' %}" class="btn btn-default btn-xs">
              <i class="fa fa-edit"></i>&nbsp;{% trans 'Items' %}
            </a>
          </td>
          <td>
            <a href="{% url 'admin:order-delete' result.id %}" class="btn btn-danger btn-xs">
              <i class="fa fa-trash"></i>&nbsp;{% trans 'Delete' %}
            </a>
            &nbsp;
            <a href="{% url 'admin:order-edit' result.id %}" class="btn btn-default btn-xs">
              <i class="fa fa-edit"></i>&nbsp;{% trans 'Edit' %}
            </a>
          </td>
        </tr>
        {% empty %}
        <tr class="info">
          <td colspan="3">{% trans 'No orders found.' %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% pagination results %}
</div>


{% endblock %}
