{% extends 'admin/base.html' %}
{% load i18n site_tags %}

{% block content %}
<div class="btn-toolbar">
  <a class="btn btn-primary" href="{% url 'admin:supplier-create' %}">
     {% trans 'Create' %}
  </a>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'City' %}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for result in results %}
          <tr>
            <td>{{ result.user.full_name|default:'-' }}</td>
            <td>{{ result.user.city|default:'-' }}</td>
            <td>
              {% for tag in result.tags.all %}
              <span class="badge badge-primary">{{ tag.name }}</span>
              {% endfor %}
            </td>
            <td>
              <a href="{% url 'admin:supplier-delete' result.id %}" class="btn btn-danger btn-xs">
                <i class="fa fa-trash"></i>&nbsp;{% trans 'Delete' %}
              </a>
              &nbsp;
              <a href="{% url 'admin:supplier-edit' result.id %}" class="btn btn-default btn-xs">
                <i class="fa fa-edit"></i>&nbsp;{% trans 'Edit' %}
              </a>
            </td>
          </tr>
          {% empty %}
          <tr class="info">
            <td colspan="5">{% trans 'No suppliers found.' %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% pagination results %}

{% endblock %}
