.carousel {
  text-align: center;
}
.carousel .logo {
  position: absolute;
  z-index: 500;
  width: 100%;
  margin-top: 10px;
}
.carousel .logo .img-responsive {
  margin: 0 auto;
}
.carousel .login {
  position: absolute;
  z-index: 500;
  bottom: 30%;
  width: 100%;
}
.carousel .social-logos {
  position: absolute;
  z-index: 500;
  bottom: 5%;
  width: 100%;
}
.carousel .carousel-caption {
  z-index: 500;
  bottom: 35%;
  font-family: 'liberation_sansregular';
  font-weight: 300;
}
.carousel .carousel-caption .title {
  font-size: 35px;
  text-shadow: 0px 0px 3px #000, 0px 0px 8px #000, 0px 0px 8px #000;
}
.carousel .carousel-caption .desc {
  text-shadow: 0px 0px 2px #000, 0px 0px 6px #000, 0px 0px 6px #000;
}
.carousel .carousel-inner > .item > img,
.carousel .carousel-inner > .item > a > img {
  width: 100%;
}
.carousel .item img {
  position: absolute;
}
.carousel .item img:first-child {
  position: static;
  z-index: 100;
}
.carousel .carousel-indicators {
  bottom: 15%;
  margin-left: -31%;
}
.carousel .carousel-indicators .active {
  color: #b4a79c;
}
.carousel .carousel-indicators > * {
  cursor: pointer;
}
