{% extends 'site/base.html' %}
{% load i18n bootstrap3 %}

{% block site_content %}
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a>
      </li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    {% if user.has_relation.MISION %}
      <li role="presentation"><a href="#circle" aria-controls="circle" role="tab" data-toggle="tab">
        {% trans 'Circle' %}</a>
      </li>
    {% endif %}
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="home">
      <p><a href="{% url 'site:ciudadfutura-user-change_password' %}">Lost password?</a></p>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="profile">
      <form class="form-horizontal" action="" method="post" class="form" novalidate>{% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <div class="form-group">
          <input type="submit" class="btn btn-primary" name="save" value="{% trans 'Save' %}" />
        </div>
      </form>
    </div>
    {% if user.has_relation.MISION %}
      <div role="tabpanel" class="tab-pane fade" id="circle">
        <form class="form-horizontal" action="" method="post" class="form" novalidate>{% csrf_token %}
          {% bootstrap_form form layout='horizontal' %}
          <div class="form-group">
            <input type="submit" class="btn btn-primary" name="save" value="{% trans 'Save' %}" />
          </div>
        </form>
      </div>
    {% endif %}
    <div role="tabpanel" class="tab-pane fade" id="messages"></div>
    <div role="tabpanel" class="tab-pane fade" id="settings"></div>
  </div>
{% endblock %}
