@font-face {
  font-family: 'liberation_sansitalic';
  src: url("../fonts/liberationsans-italic-webfont.eot");
  src: url("../fonts/liberationsans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/liberationsans-italic-webfont.woff") format("woff"), url("../fonts/liberationsans-italic-webfont.ttf") format("truetype"), url("../fonts/liberationsans-italic-webfont.svg#liberation_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'liberation_sansregular';
  src: url("../fonts/liberationsans-regular-webfont.eot");
  src: url("../fonts/liberationsans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/liberationsans-regular-webfont.woff") format("woff"), url("../fonts/liberationsans-regular-webfont.ttf") format("truetype"), url("../fonts/liberationsans-regular-webfont.svg#liberation_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'liberation_sansbold_italic';
  src: url("../fonts/liberationsans-bolditalic-webfont.eot");
  src: url("../fonts/liberationsans-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/liberationsans-bolditalic-webfont.woff") format("woff"), url("../fonts/liberationsans-bolditalic-webfont.ttf") format("truetype"), url("../fonts/liberationsans-bolditalic-webfont.svg#liberation_sansbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'liberation_sansbold';
  src: url("../fonts/liberationsans-bold-webfont.eot");
  src: url("../fonts/liberationsans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/liberationsans-bold-webfont.woff") format("woff"), url("../fonts/liberationsans-bold-webfont.ttf") format("truetype"), url("../fonts/liberationsans-bold-webfont.svg#liberation_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mision-icons';
  src: url("../fonts/mision-icons.eot?-ptbqre");
  src: url("../fonts/mision-icons.eot?#iefix-ptbqre") format("embedded-opentype"), url("../fonts/mision-icons.woff?-ptbqre") format("woff"), url("../fonts/mision-icons.ttf?-ptbqre") format("truetype"), url("../fonts/mision-icons.svg?-ptbqre#mision-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon-key:before {
  font-family: 'mision-icons';
  /*speak: none;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f049";
}
.icon-lock:before {
  font-family: 'mision-icons';
  /*speak: none;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f06a";
}
.icon-facebook:before {
  font-family: 'mision-icons';
  /*speak: none;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e61e";
}
.icon-facebook2:before {
  font-family: 'mision-icons';
  /*speak: none;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e61f";
}
.icon-twitter:before {
  font-family: 'mision-icons';
  /*speak: none;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e620";
}
.icon-twitter2:before {
  font-family: 'mision-icons';
  /*speak: none;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e621";
}
.icon-twitter3:before {
  font-family: 'mision-icons';
  /*speak: none;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e622";
}
.icon-envelope:before {
  font-family: 'mision-icons';
  /*speak: none;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0e0";
}
.icon-radio-checked:before {
  font-family: 'mision-icons';
  /*speak: none;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e641";
}
.icon-radio-unchecked:before {
  font-family: 'mision-icons';
  /*speak: none;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e642";
}
.icon-house:before {
  font-family: 'mision-icons';
  /*speak: none;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e674";
}
.icon-location:before {
  font-family: 'mision-icons';
  /*speak: none;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e63b";
}
.icon-new:before {
  font-family: 'mision-icons';
  /*speak: none;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e644";
}
.carousel {
  text-align: center;
}
.carousel .logo {
  position: absolute;
  z-index: 500;
  width: 100%;
  margin-top: 10px;
}
.carousel .logo .img-responsive {
  margin: 0 auto;
}
.carousel .login {
  position: absolute;
  z-index: 500;
  bottom: 30%;
  width: 100%;
}
.carousel .social-logos {
  position: absolute;
  z-index: 500;
  bottom: 5%;
  width: 100%;
}
.carousel .carousel-caption {
  z-index: 500;
  bottom: 35%;
  font-family: 'liberation_sansregular';
  font-weight: 300;
}
.carousel .carousel-caption .title {
  font-size: 35px;
  text-shadow: 0px 0px 3px #000, 0px 0px 8px #000, 0px 0px 8px #000;
}
.carousel .carousel-caption .desc {
  text-shadow: 0px 0px 2px #000, 0px 0px 6px #000, 0px 0px 6px #000;
}
.carousel .carousel-inner > .item > img,
.carousel .carousel-inner > .item > a > img {
  width: 100%;
}
.carousel .item img {
  position: absolute;
}
.carousel .item img:first-child {
  position: static;
  z-index: 100;
}
.carousel .carousel-indicators {
  bottom: 15%;
  margin-left: -31%;
}
.carousel .carousel-indicators .active {
  color: #b4a79c;
}
.carousel .carousel-indicators > * {
  cursor: pointer;
}
body {
  background: url('../img/bg.png') repeat;
}
a,
a:hover {
  text-decoration: none;
}
.col-lg-12 {
  padding: 0px;
}
.pos-absolute {
  position: absolute;
}
.margin-top {
  margin-top: 10%;
}
a.loginbtn {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  border: 1px solid #ffffff;
  padding: 10px 15px 10px 15px;
  background: transparent;
}
a.loginbtn:hover {
  color: #ffffff;
  background-color: #bd3b2f;
  border: 1px solid #bd3b2f;
  text-shadow: 0 0 0;
}
a.join {
  position: relative;
  top: 310px;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  border: 1px solid #ffffff;
  padding: 10px 15px 10px 15px;
  background: transparent;
  text-shadow: 0px 0px 2px #000, 0px 0px 6px #000, 0px 0px 6px #000;
}
a.join:hover {
  color: #ffffff;
  background-color: #bd3b2f;
  border: 1px solid #bd3b2f;
  text-shadow: 0 0 0;
}
.lm-facebook:hover {
  color: #3b5998;
  background-color: transparent;
}
.lm-twitter:hover {
  color: #ccc;
  background-color: transparent;
}
.lm-social-icons {
  color: #fff;
  font-size: 28px;
  display: inline-block;
}
.lm-social-icons:first-child {
  margin-right: 10px;
}
.lm-social-icons:hover {
  text-shadow: 0 0 1px #ddd;
  background-color: transparent;
}
.lee {
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
  padding: 10px;
  height: 280px;
  color: #a38c78;
}
.lee h2 {
  font-size: 18px;
  line-height: 22px;
  color: #bd3b2f;
  margin-bottom: 5px;
}
.lee h3 {
  font-size: 14px;
  line-height: 18px;
  color: #666;
  margin-bottom: 20px;
}
.lee a {
  font-size: 17px;
  text-transform: uppercase;
  color: #bd3b2f;
  border-radius: 4px;
  border: 2px solid #bd3b2f;
  padding: 10px;
  background: transparent;
  display: inline-block;
  font-family: 'liberation_sansbold';
  margin-bottom: 20px;
}
.lee a:hover {
  color: #333333;
  border: 2px solid #333333;
}
.lee a:hover {
  background-color: transparent;
}
#lm-dossier {
  background: url('../img/icono_lee_el_dossier.png') center bottom no-repeat;
}
#lm-conoce {
  background: url('../img/icono_conoce_mas.png') center bottom no-repeat;
}
#lm-activar {
  background: url('../img/icono_activa_tu_circulo.png') center bottom no-repeat;
}
#tigre {
  min-height: 280px;
  background: url('../img/tigre.png') center 20px no-repeat;
  background-size: contain;
}
#lm-login {
  text-align: center;
}
#lm-login h3 {
  background: #333;
  color: #fff !important;
  display: block;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 30px;
  padding: 12px 14px;
}
#lm-login ul li {
  text-align: left;
  margin-bottom: 26px;
}
#lm-login ul li label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #222;
  display: block;
}
#lm-login ul li label span {
  float: right;
  color: #bd3b2f;
  font-size: 12px;
}
#lm-login ul li label.lm-error {
  display: inline-block;
  font-weight: normal;
  width: 100%;
  background: #e5630d;
  color: #fff;
  font-size: 12px;
  padding: 7px;
  text-align: right;
}
#lm-login ul li span.lm-example {
  display: inline-block;
  width: 100%;
  color: #555;
  font-size: 12px;
  padding: 7px;
  text-align: right;
}
#lm-login ul li input[type="text"],
#lm-login ul li input[type="password"] {
  height: 40px;
}
#lm-login ul li input[type="submit"] {
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
  border: 2px solid #ffffff;
  padding: 10px;
  background: transparent;
  display: inline-block;
  font-weight: normal;
  margin-right: 0;
  width: 50%;
  background: #bd3b2f;
  border: 0px;
}
#lm-login ul li input[type="submit"]:hover {
  color: #333333;
  border: 2px solid #333333;
}
#lm-login ul li input[type="submit"]:hover {
  border: 0px;
  color: #fff;
  background: #333;
}
#lm-login p#login-msg {
  background: #e5630d;
  color: #fff;
  font-size: 14px;
  line-height: 46px;
  margin-bottom: 20px;
  margin-top: -30px;
  padding: 0 10px;
  position: relative;
  text-align: center;
}
#lm-login p#login-msg span {
  font-size: 24px;
  left: 10px;
  position: absolute;
  top: 10px;
}
#lm-login #login-loader {
  align-self: center;
}
#footer-content {
  width: 100%;
  position: absolute;
  bottom: 0px;
  margin-bottom: -330px;
}
#footer {
  padding: 30px 0;
  width: 110%;
  margin-left: -5%;
}
#footer-bar {
  padding: 0 20px;
  background: #444;
}
#footer-bar .footer-bar-left {
  text-align: left;
  float: left;
}
#footer-bar .footer-bar-left a {
  color: #fff;
  display: inline-block;
  font-family: 'liberation_sansregular';
  font-size: 12px;
  line-height: 24px;
  padding: 10px 15px 9px 39px;
  position: relative;
  text-transform: uppercase;
}
#footer-bar .footer-bar-left a span {
  font-size: 20px;
  left: 13px;
  position: absolute;
}
#footer-bar .footer-bar-left a:hover {
  background: #bd3b2f;
}
#footer-bar .footer-bar-right {
  text-align: right;
}
#footer-bar .footer-bar-right a {
  background: #565656;
  color: #fff;
  display: inline-block;
  font-family: 'liberation_sansregular';
  font-size: 12px;
  line-height: 24px;
  padding: 10px 15px 9px 39px;
  position: relative;
  text-transform: uppercase;
}
#footer-bar .footer-bar-right a span {
  font-size: 20px;
  left: 13px;
  position: absolute;
}
#footer-bar .footer-bar-right .lm-facebook:hover {
  background: #3b5998;
}
#footer-bar .footer-bar-right .lm-twitter:hover {
  background: #777;
}
#footer-info {
  background: #222;
  height: 100px;
}
#footer-info-home {
  background: url('../img/taco_logo_foot.png') center top no-repeat;
  height: 280px;
}
#toTop {
  background: none repeat scroll 0 0 rgba(189, 59, 47, 0.8);
  bottom: 30px;
  color: #fff;
  cursor: pointer;
  display: none;
  font-family: Roboto;
  padding: 14px;
  position: fixed;
  right: 0;
  text-transform: uppercase;
  z-index: 55;
}
