{% extends 'account/base.html' %}
{% load site_tags i18n bootstrap3 %}

{% block tabs_content %}
    <div class="container">
        <h4>{% trans 'Change current user password' %}</h4>
        <form class="form-horizontal" action="" method="post" class="form" novalidate>
            {% bootstrap_form form layout='horizontal' %}
            {% csrf_token %}
            <div class="form-group">
                <input type="submit" class="btn btn-primary" name="save" value="{% trans 'Save' %}" />
            </div>
        </form>
    </div>
{% endblock %}
