{% extends 'account/base.html' %}
{% load site_tags i18n bootstrap3 %}

{% block site_content %}
    <ul class="nav nav-tabs" role="tablist">
        <li {% if active == 'user_public_profile' %} class="active" {% endif %} role="presentation">
            <a href="{% url 'account:ciudadfutura-user-public-profile' %}">{% trans 'Public profile' %}</a>
        </li>
        <li {% if active == 'user_private_profile' %} class="active" {% endif %} role="presentation">
            <a href="{% url 'account:ciudadfutura-user-private-profile' %}">{% trans 'Private profile' %}</a>
        </li>
        <li {% if active == 'user_change_password' %} class="active" {% endif %} role="presentation">
            <a href="{% url 'account:ciudadfutura-user-change-password' %}">{% trans 'Change password' %}</a>
        </li>
        {% if user.has_relation.MISION %}
            <li {% if active == 'user_my_circle' %} class="active" {% endif %} role="presentation">
                <a href="{% url 'account:ciudadfutura-user-circle' %}">{% trans 'My circle' %}</a>
            </li>
        {% endif %}
    </ul>
    <div class="tab-content">
        {% block tabs_content %}
        {% endblock %}
    </div>
{% endblock %}
