{% extends 'site/base.html' %}
{% load i18n site_tags static %}

{% block content %}

<style type="text/css">
  #js-message {
      position: fixed;
      top: 55px;
      left: 0;
      width: 100%;
      z-index: 100;

  }
  #js-message .alert {
      margin: 5px;
  }
</style>


<div id="js-message" style="display: none;">
  <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      Se agrego exitosamente el producto: <strong id="js-message-product"></strong>
  </div>
</div>


<div class="container">
  <div class="row">
  {% for result in results %}
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="{{ result.image }}">
        <div class="caption">
          <p>{{ result.price }}</p>
          <p>{{ result.sku }}</p>
          <p>{{ result.name }}</p>
          <form class="js-add-to-cart" method="post" action="{% url 'cart:add-item' result.id %}">
            <div class="input-group">
              <input type="text" class="form-control" name="quantity" value="1">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">{% trans 'Add to cart' %}</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  {% pagination results %}
</div>
{% endblock %}

{% block footer_js %}
  <script type="text/javascript" src="{% static 'mision/js/cart.js' %}"></script>
{% endblock %}
